#submit-signup {
    color: white;
    text-decoration: none;
    background-color: #ff5500;
    border-radius: 5px;
    /* padding: 8px; */
    /* margin-right: 5px; */
    border: 1px solid #ff5500;
    cursor: pointer;

}

/* You don't actually need this file because you can just refer to Navigation.css */
