.playlist-preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.playlists-container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 15%;
    row-gap: 5px;
    /* border: 1px solid black; */
}

.your-playlists-wrapper {
    display: flex;
    align-items: center;
}

.create-playlist {
    width: 120px;
    height: 40px;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    /* aspect-ratio: 5/1; */
}
