.edit-song-button {
    color: white;
    text-decoration: none;
    background-color: #AB3428;
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;
    margin-top: none;
    border: 1px solid white;
}

/* You don't actually need this file because you can just refer to Navigation.css */
