/* TODO Add site wide styles */
/* @media screen and (max-width: 1026px) {
    .song-page-container {
      width:1024px;
    }
  } */

@media screen and (max-width: 1199px) {
.song-page-container {
    width:1024px;
}
}

.blank-space-for-player {
    height: 100px;
}

* {
    font-family: Roboto;
}

.mass-container {
    width: 1200px;
    min-width: 1024px;
    margin: auto;
    background-color: white;
}

@media screen and (max-width: 1199px) {
    .mass-container {
      width:1024px;
    }
  }

.modal-form {
    min-width: 350px;
    max-width: 350px;
    word-wrap: break-word;
    /* min-height: 400px; */
    max-height: 600px;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.modal-form-2 {
    margin-top: 0px;
    min-width: 350px;
    max-width: 350px;
    word-wrap: break-word;
    /* min-height: 400px; */
    max-height: 600px;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.modal-form-2 > button {
    color: white;
    /* background-color: #29335C; */
    background-color: #ff5500;
    border: 0px solid #ff5500;
    width: 102%;
    border-radius: 5px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
}


.modal-form > label > input {
    width: 100%;
    height: 25px;
    font-size: 18px;
    border: 1px gray solid;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px 3px 3px 3px;
}

.modal-form > button {
    color: white;
    background-color: #ff5500;
    border: 0px solid #ff5500;
    border-radius: 5px;
    height: 30px;
    width: 102%;
    padding: 3px 3px 3px 3px;
    /* padding: 0px 0px 0px 0px; */
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

.modal-form > li {
    list-style-type: none;
    color: red;
}

.modal-form > ul > li {
    list-style-type: none;
    color: red;
}

.modal-form > .form-error {
    list-style-type: none;
    color: red;
    font-family: Roboto;
}
