


.splash-preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
}

.splash-preview-card {
    width: 150px;
    height: 200px;
    list-style-type: none;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.splash-preview-image {
    width: 150px;
    height: max-content;
    cursor: pointer;
    /* list-style-type: none; */
}

.hover-thing-card {
    position: relative;
}
.splash-song-title {
    font-size: 14px;
}

.splash-song-description {
    font-size: 12px;
}
