.dropdown {
    position: relative;
    display: inline-block;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.profile-dropdown {
    /* position: absolute;
    overflow: auto; */
    border: 1px solid blue;
    display: block;
    background-color: white;
    color: white;
    /* z-index: 1; */
    min-width: 100px;
}
